@media only screen and (min-width: 320px) and (max-width: 767px)
{
    #blockComments > div > div:first-child{
        width: 35%;
        border: solid black 1px;

    }

    #blockComments > div > div:last-child{
        width: 65%;
        text-align: left;
        padding-left: 10px;
        border: solid black 1px;
        border-left: 0;
    }


}